<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--為了不要做縮放-->
    <title>第四週作業</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style-success.css')}}">
   </head>

<body>
    
    <main>
        <div class="login">
            <h1>歡迎光臨！</br>這是專屬您的會員頁</h1>
            <div class="success">
                <p>恭喜您，登入系統成功。</p>
            </div>
            <form method="get" action="/signout">
                <button type="submit" class="btn">登出系統</button>
            </form>
        </div>
    </main>

    <script>
        
    </script>
</body>

</html>