<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--為了不要做縮放-->
    <title>第四週作業</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style-failure.css')}}">
   </head>

<body>
    
    <main>
        <div class="login">
            <h1>不好意思！</br>好像發生了什麼錯誤？</h1>
            <div class="failure">
                <p>Oops! 請再檢查一次您的帳號密碼。</p>
            </div>
            <form method="get" action="/">
                <button type="submit" class="btn">回到首頁</button>
            </form>
        </div>
    </main>

    <script>
        
    </script>
</body>

</html>